{{ header }}
{#<div id="common-home">#}
{#  <div class="">#}
    <div id="content">
      {{ teaser }}
      {{ content_top }}
      {{ content_bottom }}
    </div>
{#  </div>#}
{#</div>#}
{{ footer }}


